/* body */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body{
    background-color: white;
}
/* Navbar et Header*/
.logoheader{
    display: block;
    margin: auto;
    width: 120px;
    height: 120px;
}
.navbar li{
    list-style-type: none;
    font-family: "Roboto";
    font-size: 2em;
    color: black;
    padding: 25px;
    display: block;
    margin: auto;
    text-decoration: none;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}
.navbar ul{
    text-decoration: none;
    color: black;
}
/* div 1 / photo accueuil 1 */
.presentation h1{
    font-family: "Roboto";
    color: white;
    text-align: center;
    font-size: 5em;
    display: block;
    padding-top: 300px;
}
.presentation
{
    height: 740px;
    background-image: url(photos/2022-07-30_12.52.51.png);
    width: 100%;
    left: 0;
    right: 0;
}
.presentation h3{
    text-align: center;
    color: white;
    font-size: 2em;
    font-family: "Roboto";
}
li:hover{
    font-weight: bold;
    animation: alternate;
}
/* separation accueuil */
.separation{
    background-color: white;
    height: 50px;
}
/* section bienvenue */
.sectionbienvenue{
    background-image: url(Photos/2022-07-28_21.35.25.png);
    height: 400px;
    padding: 100px;
}
.boutonbienvenue{
    background-color: white;
    display: block;
    margin: auto;
    text-align: center;
    width: 500px;
    font-family: 'Courier New', Courier, monospace;
    padding: 50px;
    font-size: 1.2em;
}
button{
    margin-top: 10px;
    background-color: #237374;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
}
.boutonbienvenue h1{
    font-size: 2em;
}
/* contact */
.contactinfo{
    float: left;
    font-family: "Roboto";
    font-size: 1.5em;
}
.asideform h1{
    text-align: center;
    font-size: 2em;
}
form{
    border-radius: 5px;
    font-family: "Roboto";
    display: block;
    margin-left: 1200px;
}
form .corps-formulaire{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
form .corps-formulaire .groupe {
    position: relative; /* Pour mettre positionner l’élément dans le flux normal de la page */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
  form .corps-formulaire .gauche .groupe input {
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border: 1px solid #c9c9c9;
    outline-color: #747cdf;
    border-radius: 5px;
}
  form .corps-formulaire .gauche .groupe i {
    position: absolute; /* positionné par rapport à son parent le plus proche positionné */
    left: 0;
    top: 25px;
    padding: 9px 8px;
    color: #747cdf;
}
form .corps-formulaire .droite {
    margin-left: 40px;
}
  form .corps-formulaire .droite .groupe {
    height: 100%;
}
  form .corps-formulaire .droite .groupe textarea {
    margin-top: 5px;
    padding: 10px;
    background-color: #f1f1f1;
    border: 2px solid #747cdf;
    outline: none;
    border-radius: 5px;
    resize: none;
    height: 72%;
}
.sectionmap{
    text-align: center;
    font-family: "Roboto";
    font-size: 1.2em;
}